$font-stack: Helvetica, sans-serif;
$primary-color: rgb(95, 95, 106);
$secondary-color: rgb(177, 113, 35);
$tertiary-color: rgb(102, 102, 156);
$background-primary-color: rgb(190, 190, 190);
$background-secondary-color: rgb(221, 221, 221);
$background-tertiary-color: rgb(0, 0, 0);
$standard-font-size: 18px;
$enlarged-font-size: 25px;

* { margin: 0 0 0 0; padding: 0 0 0 0; font-size: $standard-font-size; }

body { background-color: $background-tertiary-color; color: $primary-color; animation-name: fadein; animation-duration: 2s; }

header { background-color: $background-primary-color; display: flex; flex-wrap: wrap; width: 15vw;
         height: 8vh; position: fixed; right: 0; max-width: 90px; max-height: 90px; }
header:hover { background-color: $background-secondary-color; width: 100vw; height: 30vh; max-height: 32vh;
               animation-name: slidein; animation-duration: 0.8s; animation-fill-mode: forwards; }

footer { background-color: $background-primary-color; display: block; width: 100vw; height: 5vh;
         position: fixed; top: 95vh; transition: all 0.4s; }
footer:hover { background-color: $background-primary-color; display: block; width: 100vw; height: 20vh;
               position: fixed; top: 85vh; }

a { color: $primary-color; text-decoration: none; }
a:visited { color: $primary-color; text-decoration: none; }

.container { display: flex; flex-direction: row; }
.container-vertical { display: flex; flex-direction: column; }

.list {  }
.list-title { color: $primary-color; }
.list-item { color: $tertiary-color; opacity: 0; }
//.list-item:hover { color: $secondary-color; font-size: $enlarged-font-size; }
.list-item-expandable { justify-content: space-between; align-items: center; }

.hidden-list { position: relative; display: none; }
.focused-item { color: $secondary-color; font-size: $standard-font-size; }
.focused-item a { color: $secondary-color; font-size: $enlarged-font-size; }
.focused-item a:visited { color: $secondary-color; }
.focused-item:hover .hidden-list{ visibility: visible; opacity: 1; display: block; }

header:hover {
     .list {
        .list-item { animation-name: showitems; animation-duration: 1s; animation-fill-mode: forwards; }
    }
}

@keyframes showitems {
    from { opacity: 0;}
    80% { opacity: 0;}
    to { opacity: 1;}
}

@keyframes fadein {
    from { opacity: 0; background-color: black; color: black; }
    50% { opacity: 0; background-color: black; color: black; }
    to { opacity: 1; background-color: $background-tertiary-color; color: $primary-color; }
}

@keyframes slidein {
    from { height: 8vh; margin-left: 85vw; }
    50% { height: 8vh; margin-left: 0; max-width: 100vw; }
    to { height: 32vh; margin-left: 0; max-width: 100vw; }
}

/*@keyframes slideout {
    from { height: 300px; margin-left: 0; }
    50% { height: 85px; margin-left: 0; }
    to { height: 85px; margin-left: calc(100% - 85px); } 
}*/
