$font-stack: Helvetica, sans-serif;
$primary-color: rgb(194, 191, 191);
$primary-color-dark: rgb(15,15,15);
$secondary-color: rgb(242, 193, 44);
$secondary-color-dark: rgb(220, 113, 5);
$tertiary-color: rgb(2, 159, 221);
$background-primary-color: rgb(0, 0, 0);
$background-secondary-color: rgb(16, 16, 16);
$background-tertiary-color: rgb(2, 159, 221);
$standard-font-size: 1.2rem;
$enlarged-font-size: 2rem;

* { margin: 0 0 0 0; padding: 0 0 0 0; font-size: $standard-font-size; box-sizing: border-box; }
.container { display: flex; flex-direction: row; }
.container-vertical { display: flex; flex-direction: column; }
body { background-color: $background-secondary-color; color: $primary-color; animation-name: fadein; animation-duration: 2s; cursor: default; }

header { display: flex; flex-wrap: nowrap; position: relative; right: 0; background-color: $background-secondary-color; color: $primary-color-dark; }
.header-background { position: absolute; }
#header-background-left { z-index: 2; width: 100%; height: 100%; background-image: url('images/7.jpg');
                          background-position-y: center; border-right: 2px solid black; transition: width 0.3s ease-out; }
#header-background-right { z-index: 1; width: 100%; height: 100%; background-image: url('images/6.jpg'); background-position-y: center; }
.menu { width: 100vw; height: 16vmin; min-height: 215px; margin-top: -16vmin; animation-name: slideout; font-weight: 700;
        animation-duration: 0.8s; animation-fill-mode: forwards; z-index: 3; color: $secondary-color;  flex: 0 0 content; }
.menu-visible { display: flex; animation-name: slidein; animation-duration: 0.8s; animation-fill-mode: forwards; }
//.menu-visible { animation-name: showitems; animation-duration: 1s; animation-fill-mode: forwards; }

footer { background-color: $background-primary-color; display: block; width: 100vw; height: 5vh;
         position: fixed; top: 95vh; transition: all 0.4s; }
footer:hover { background-color: $background-tertiary-color; display: block; width: 100vw; height: 20vh;
               position: fixed; top: 85vh; color: $primary-color-dark;}

a { color: inherit; text-decoration: none; }
a:visited { color: inherit; text-decoration: none; }



.menu-button { background-color: $secondary-color-dark; color: $primary-color-dark; width: 5rem; height: 5rem; 
               border-radius: 50%; position: fixed; right: 90px; top: 90px;
               transform: translate(50%, -50%); cursor: pointer; user-select: none; z-index: 10;
               text-align: center; display: flex; align-items: center; justify-content: center;
               animation-name: button-float; animation-duration: 8s; animation-iteration-count: infinite; animation-timing-function: ease-in-out;}
.menu-button::after{ content: ""; position: absolute; top: -5px; bottom: -5px; left: -5px; right: -5px; z-index: -1;
                     background: $secondary-color-dark; filter: blur(6px); border-radius: 50%; }
.menu-button:hover { animation-name: button-hover; animation-duration: 1s; animation-fill-mode: forwards;
                     animation-iteration-count: infinite; animation-timing-function: ease-in-out; border-radius: 50%; }

.list {  }
//.list-title { -webkit-text-stroke: 1px navajowhite; padding: 15px 10px; }
.list-item { padding: 10px 5px; }
//.list-item, .list-item > a, .hidden-item > a { -webkit-text-stroke: 1px navajowhite; }
.list-item-expandable { justify-content: flex-start; align-items: center; }
.hidden-list { padding-left: 4rem; display: none;}
.hidden-item { display: flex; justify-content: center; align-items: center; padding: 0 1rem; }

.main-content { }
// rain
.main-content[data-rain="rain"] > .content-background-pattern { 
    animation-name: raining; animation-duration: 3s; 
    animation-iteration-count: infinite; animation-timing-function: linear;
    background-size: 300% 300%;
    background-image: url("images/rain.png");
    transition: opacity 0.8s ease, background-size 0.8s ease-in-out, background-position 0.3s ease-in-out; }
.main-content[data-rain="rain"] > .content-background-pattern::after { 
    content: ""; height: 100vh; width: 100vw; position: fixed; background-position: 0% 0%;                                                                                    
    left: 0; top: 0; bottom: 0; right: 0; z-index: -8;
    transition: opacity 0.8s ease, background-size 0.8s ease-in-out, background-position 0.3s ease-in-out; 
    background-size: 300% 300%;
    background-image: url("images/rain.png"); 
    animation-name: raining; animation-duration: 1s;
    animation-iteration-count: infinite; animation-timing-function: linear; }
.main-content[data-rain="rain"] > .content-background-pattern::before { 
    content: ""; height: 100vh; width: 100vw; position: fixed; background-position: 0% 0%;                                                                                    
    left: 0; top: 0; bottom: 0; right: 0; z-index: -9;
    transition: opacity 0.8s ease, background-size 0.8s ease-in-out, background-position 0.3s ease-in-out; 
    background-size: 300% 300%;
    background-image: url("images/rain.png"); 
    animation-name: raining; animation-duration: 4s;
    animation-iteration-count: infinite; animation-timing-function: linear; }



/*  dots background
.main-content[data-active-index="0"] > .content-background-pattern { background-position: 0% -25%; }
.main-content[data-active-index="1"] > .content-background-pattern { background-position: 0% -50%; }
.main-content[data-active-index="2"] > .content-background-pattern { background-position: 0% -75%; }
.main-content[data-active-index="3"] > .content-background-pattern { background-position: 0% -100%; }
*/




.main-content[data-active-index="0"] > .content-background-image { background-position: 100% 0%; }
.main-content[data-active-index="2"] > .content-background-image { background-position: 55% 20%; }
.main-content[data-active-index="1"] > .content-background-image { background-position: 25% 50%; }
.main-content[data-active-index="3"] > .content-background-image { background-position: 70% 75%; }
.main-content > .content-section:hover { opacity: 1; }
.content-section { padding: 1% 0 1% 4%; width: fit-content; opacity: 0.7; transition: opacity 0.3s linear, color 0.3s linear, font-size 0.3s linear; 
                   font-weight: 600; flex: 0 0 3rem; line-height: 3rem; }
.content-section:hover { font-size: $enlarged-font-size; cursor: pointer; color: $tertiary-color; }
.content-section:hover ~ .content-background-pattern { opacity: 0.5; }
.content-section:hover ~ .content-background-image { background-size: 110vmax; }

.content-background-pattern { height: 100vh; width: 100vw; position: fixed; background-position: 0% 0%; 
                              left: 0; top: 0; bottom: 0; right: 0; z-index: -10;
                              transition: opacity 0.8s ease, background-size 0.8s ease-in-out, background-position 0.3s ease-in-out; }

.content-background-image { height: 100vh; width: 100vw; background-image: url("images/10.jpg");
                            position: fixed; left: 0; top: 0; z-index: -20; opacity: 0.25; background-size: 100vmax;
                            transition: background-size 0.5s ease-in-out, background-position 0.45s ease-in-out;
                            background-position: center 45%; }
.content-text {
    padding-left: 2rem;
    padding-top: 2rem;
}
.content-text span {
    font-style: italic;
    transition: color 0.3s;
}
.content-text span:hover {
    color: $secondary-color-dark;
}

.cv-iframe {
    width: 90%;
    height: 100vh;
}



@keyframes slidein {
    from { margin-top: -32vh;}
    75% {  }
    to { margin-top: 0; }
}
@keyframes slideout {
    from { margin-top: 0; }
    75% { }
    to { margin-top: -32vh; }
}
@keyframes button-hover {
    //from { border: 1px solid $secondary-color; color: $primary-color-dark; }
    from { outline: 1px solid $secondary-color-dark; color: $primary-color-dark; }
    50% { outline: 12px solid $secondary-color-dark; color: $tertiary-color; }
    to { outline: 1px solid $secondary-color-dark; color: $primary-color-dark; }
    //100% { border: 8px solid $secondary-color; color: $tertiary-color; }
}
@keyframes button-float {
    0% {transform: translate(50%, -50%) rotate(360deg);}
    20% {transform: translate(45%, -43%) rotate(357deg);}
    40% {transform: translate(55%, -46%) rotate(363deg);}
    60% {transform: translate(46%, -54%) rotate(361deg);}
    70% {transform: translate(59%, -45%) rotate(358deg);}
    100% {transform: translate(50%, -50%) rotate(360deg);}
}

@keyframes raining {
    0% { 
        background-position: 0vw -50vh;
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        background-position: -10vw 0vh;
        opacity: 0;

    }
}




/*@keyframes slideout {
    from { height: 300px; margin-left: 0; }
    50% { height: 85px; margin-left: 0; }
    to { height: 85px; margin-left: calc(100% - 85px); } 
}*/



@media screen and (max-width: 650px) and (orientation: portrait) {
    .menu { min-height: 280px; }
    .focused-item { flex-direction: column; align-items: flex-start; }
    .hidden-list { padding-left: 0; flex-direction: column; align-items: flex-start; }

    @keyframes slidein {
        from { margin-top: -560px;}
        75% {  }
        to { margin-top: 0; }
    }
    @keyframes slideout {
        from { margin-top: 0; }
        75% { }
        to { margin-top: -560px; }
    }


}


@media screen and (max-height: 650px) and (orientation: landscape) {

    @keyframes slidein {
        from { margin-top: -32vw;}
        75% {  }
        to { margin-top: 0; }
    }
    @keyframes slideout {
        from { margin-top: 0; }
        75% { }
        to { margin-top: -32vw; }
    }


}