* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: row;
}

.container-vertical {
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(185, 185, 190);
  animation-name: fadein;
  animation-duration: 2s;
  cursor: default;
}

header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  right: 0;
  background-color: rgb(221, 221, 221);
  color: rgb(85, 85, 90);
}

.menu {
  width: 100vw;
  height: 32vh;
  margin-top: -32vh;
  animation-name: slideout;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.menu-visible {
  display: flex;
  animation-name: slidein;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

footer {
  background-color: rgb(16, 16, 18);
  display: block;
  width: 100vw;
  height: 5vh;
  position: fixed;
  top: 95vh;
  transition: all 0.4s;
}

footer:hover {
  background-color: rgb(221, 221, 221);
  display: block;
  width: 100vw;
  height: 20vh;
  position: fixed;
  top: 85vh;
  color: rgb(85, 85, 90);
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

.menu-button {
  background-color: rgb(233, 133, 34);
  color: rgb(102, 102, 156);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 3px transparent;
  position: fixed;
  right: 90px;
  top: 90px;
  transform: translate(50%, -50%);
  cursor: pointer;
  user-select: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: button-float;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.menu-button::after {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  z-index: -1;
  background: rgb(233, 133, 34);
  filter: blur(20px);
  border-radius: 50%;
}

.menu-button:hover {
  animation-name: button-hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.list-item-expandable {
  justify-content: space-between;
  align-items: center;
}

.hidden-list {
  align-self: flex-start;
}

.main-content {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes slidein {
  from {
    margin-top: -32vh;
  }
  to {
    margin-top: 0;
  }
}
@keyframes slideout {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -32vh;
  }
}
@keyframes button-hover {
  from {
    border: 1px solid rgb(233, 133, 34);
  }
  to {
    border: 8px solid rgb(233, 133, 34);
  }
}
@keyframes button-float {
  0% {
    transform: translate(50%, -50%) rotate(360deg);
  }
  20% {
    transform: translate(48%, -46%) rotate(357deg);
  }
  40% {
    transform: translate(52%, -47%) rotate(363deg);
  }
  60% {
    transform: translate(49%, -51%) rotate(361deg);
  }
  70% {
    transform: translate(56%, -48%) rotate(358deg);
  }
  100% {
    transform: translate(50%, -50%) rotate(360deg);
  }
}
/*@keyframes slideout {
    from { height: 300px; margin-left: 0; }
    50% { height: 85px; margin-left: 0; }
    to { height: 85px; margin-left: calc(100% - 85px); } 
}*/

/*# sourceMappingURL=output.css.map */
