* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: row;
}

.container-vertical {
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(185, 185, 190);
  animation-name: fadein;
  animation-duration: 2s;
  cursor: default;
}

header {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  right: 0;
  background-color: rgb(221, 221, 221);
  color: rgb(85, 85, 87);
}

.header-background {
  position: absolute;
}

#header-background-left {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url("images/7.jpg");
  background-position-y: center;
  border-right: 2px solid black;
  transition: width 0.5s linear;
}

#header-background-right {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("images/6.jpg");
  background-position-y: center;
}

.menu {
  width: 100vw;
  height: 16vmin;
  min-height: 215px;
  margin-top: -16vmin;
  animation-name: slideout;
  font-weight: 700;
  text-shadow: 1.3rem 0.7rem 0.6rem black;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  z-index: 3;
  color: rgb(233, 133, 34);
  flex: 0 0 content;
}

.menu-visible {
  display: flex;
  animation-name: slidein;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

footer {
  background-color: rgb(16, 16, 18);
  display: block;
  width: 100vw;
  height: 5vh;
  position: fixed;
  top: 95vh;
  transition: all 0.4s;
}

footer:hover {
  background-color: rgb(221, 221, 221);
  display: block;
  width: 100vw;
  height: 20vh;
  position: fixed;
  top: 85vh;
  color: rgb(85, 85, 87);
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

.menu-button {
  background-color: rgb(233, 133, 34);
  color: rgb(102, 102, 156);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px transparent;
  position: fixed;
  right: 90px;
  top: 90px;
  transform: translate(50%, -50%);
  cursor: pointer;
  user-select: none;
  z-index: 10;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: button-float;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.menu-button::after {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  z-index: -1;
  background: rgb(233, 133, 34);
  filter: blur(20px);
  border-radius: 50%;
}

.menu-button:hover {
  animation-name: button-hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.list-title {
  -webkit-text-stroke: 1px navajowhite;
  padding: 15px 10px;
}

.list-item {
  padding: 10px 5px;
}

.list-item, .list-item > a, .hidden-item > a {
  -webkit-text-stroke: 1px navajowhite;
}

.list-item-expandable {
  justify-content: flex-start;
  align-items: center;
}

.hidden-list {
  padding-left: 4rem;
  display: none;
}

.hidden-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.main-content {
  align-items: baseline;
  justify-content: center;
}

.main-content[data-active-index="0"] > .content-background-pattern {
  background-position: 0% -25%;
}

.main-content[data-active-index="1"] > .content-background-pattern {
  background-position: 0% -50%;
}

.main-content[data-active-index="2"] > .content-background-pattern {
  background-position: 0% -75%;
}

.main-content[data-active-index="3"] > .content-background-pattern {
  background-position: 0% -100%;
}

.main-content[data-active-index="0"] > .content-background-image {
  background-position: center 45%;
}

.main-content[data-active-index="1"] > .content-background-image {
  background-position: center 50%;
}

.main-content[data-active-index="2"] > .content-background-image {
  background-position: center 55%;
}

.main-content[data-active-index="3"] > .content-background-image {
  background-position: center 60%;
}

.main-content > .content-section:hover {
  opacity: 1;
}

.content-section {
  padding: 1% 0 1% 4%;
  opacity: 0.7;
  transition: opacity 0.3s linear;
}

.content-section:hover {
  font-size: 2rem;
  cursor: pointer;
}

.content-section:hover ~ .content-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

.content-section:hover ~ .content-background-image {
  background-size: 220vmax;
}

.content-background-pattern {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 9%, transparent 9%);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
  transition: opacity 0.8s ease, background-size 0.8s ease-in-out, background-position 0.3s ease-in-out;
}

.content-background-image {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-image: url("images/3.jpg");
  position: fixed;
  left: 0;
  top: 0;
  z-index: -11;
  opacity: 0.15;
  background-size: 200vmax;
  transition: background-size 0.5s ease-in-out, background-position 0.45s ease-in-out;
  background-position: center 45%;
}

@keyframes slidein {
  from {
    margin-top: -32vh;
  }
  to {
    margin-top: 0;
  }
}
@keyframes slideout {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -32vh;
  }
}
@keyframes button-hover {
  from {
    border: 1px solid rgb(233, 133, 34);
  }
  to {
    border: 8px solid rgb(233, 133, 34);
  }
}
@keyframes button-float {
  0% {
    transform: translate(50%, -50%) rotate(360deg);
  }
  20% {
    transform: translate(48%, -46%) rotate(357deg);
  }
  40% {
    transform: translate(52%, -47%) rotate(363deg);
  }
  60% {
    transform: translate(49%, -51%) rotate(361deg);
  }
  70% {
    transform: translate(56%, -48%) rotate(358deg);
  }
  100% {
    transform: translate(50%, -50%) rotate(360deg);
  }
}
/*@keyframes slideout {
    from { height: 300px; margin-left: 0; }
    50% { height: 85px; margin-left: 0; }
    to { height: 85px; margin-left: calc(100% - 85px); } 
}*/

/*# sourceMappingURL=output.css.map */
